%iframe{:frameborder => "0", :height => "480", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=maverick+saloon&aq=&sll=37.0625,-95.677068&sspn=51.754532,114.169922&vpsrc=0&ie=UTF8&hq=maverick+saloon&t=h&ll=34.613008,-120.077047&spn=0.033907,0.054932&z=14&iwloc=A&output=embed", :width => "640"}
%br/
%small
  %a{:href => "http://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=maverick+saloon&aq=&sll=37.0625,-95.677068&sspn=51.754532,114.169922&vpsrc=0&ie=UTF8&hq=maverick+saloon&t=h&ll=34.613008,-120.077047&spn=0.033907,0.054932&z=14&iwloc=A", :style => "color:#0000FF;text-align:left"} View Larger Map