#content
  .title
    %h1= @title
  
  .menu
    %p HAYLOFT GRILL at the Maverick, is OPEN Tuesday – Sunday @ Noon and late night on Thursday, Friday & Saturday
    %p All orders come with Maverick Beer battered fries or onion rings. Toppings include mayo, lettuce, tomato, pickles and onions.
    %p The Hayloft Grill features 100% CERTIFIED ANGUS BEEF with Solvang Bakery Buns or San Luis Sourdough Bread.
    %br/
    %br/
    %h2 Burgers and Sandwiches
    %ul
      %li MAVERICK HAYMAKER
      If you’re really hungry… a 1/3 lb burger with all the fixin’s and topped
      with bacon, avacado, cheddar cheese on grilled sourdough.  $12

      %li THE STEERBURGER
      Simple but with great taste, cooked the way you want it.  1/3 lb $8

      %li CHEESE STEERBURGER
      With your choice of cheddar, swiss or pepperjack cheese.  1/3 lb $9

      %li DOUBLE CHEESE STEERBURGER
      2 – 1/3 lb patties with your choice of double cheddar, swiss or pepperjack cheese.  1/3 lb $11

      %li GREEN CHILE STEERBURGER
      A little spicy with green chile and pepperjack cheese.  1/3 lb $10

      %li MUSHROOM STEERBURGER
      With lots of fresh sauteed mushrooms and swiss cheese.  1/3 lb $10

      %li COWBOY CHEDDAR STEERBURGER
      With cheddar cheese, bacon, BBQ sauce & onion ring.  1/3 lb $11

      %li STEER<i>LESS</i> GARDEN BURGER
      Gourmet Garden Burger with all the trimmings. $9

      %li CHICKEN BURGER
      Charbroiled chicken breast, on a grilled bun, with lettuce, tomato, mayo and onion.  $8

      %li VAQUERO CHICKEN SANDWICH
      Charbroiled Breast with red onion, ortega chili, pepperjack cheese with a splash of Tapitio sauce, served on grilled sourdough.$11

      %li SANTA YNEZ CHICKEN SANDWICH
      Charbroiled Breast with tomato, bacon, swiss cheese, served on grilled sourdough.$10

      %li TURKEY BURGER
      Charbroiled turkey burger with all the trimmings on a fresh grilled Solvang Bakery bun.  $8

      %li TURKEY MELT
      Grilled hickory smoked turkey & onions, swiss cheese, tomato on grilled sourdough.  $11

      %li THE MAVERICK CLUB
      Lots of hickory smoked turkey, bacon, lettuce and tomato on grilled sourdough.  $11

      %li B.L.T.& A
      That’s bacon, lettuce, tomato and avocado on grilled sourdough with fries or onion rings.  $9

      %li THE PATTY MELT
      1/3 lb beef with swiss cheese and lots of grilled onions on sourdough. $10


%h2 Munchies

%ul
  %li LARGE BASKET OF MAVERICK FRIES  
  Beer-battered.  $5
  
  %li LARGE BASKET OF MAVERICK ONION RINGS  $6