#content
  .title
    %h1= @title
  
  .menu
    %p HAYLOFT GRILL at the Maverick, is OPEN Tuesday – Sunday @ Noon and late night on Thursday, Friday & Saturday
    All orders come with Maverick Beer battered fries or onion rings. Toppings include mayo, lettuce, tomato, pickles and onions.
    The Hayloft Grill features 100% CERTIFIED ANGUS BEEF with Solvang Bakery Buns or San Luis Sourdough Bread.