Dear
= @order.name

Thank you for your order from The Maverick Saloon General Store.

You ordered the following items:

= render @order.line_items

We'll send you a separate e-mail when you order ships.
