/*
 * This is a manifest file that'll automatically include all the
 * stylesheets available in this directory and any sub-directories.
 * You're free to add application-wide styles to this file and they'll
 * appear at the top of the compiled file, but it's generally better
 * to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
body {
  background: #930 url(bg.jpg) top center no-repeat;
  color: #FFFFFF;
  font-size: 12px;
  font-family: Arial, Tahoma, Verdana;
  margin: 0 auto 0;
  padding: 0;
  line-height: 20px;
  }

.menu
  p, ul {
    color: white
  }
  h2, h1 {
    color: #300
  }

.locale {
  float: right;
  margin: -0.25em 0.1em;
}
.depot_form {
  fieldset {
    background: #efe;
    
    legend {
      color: #dfd;
      background: #300;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }
  
  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }
    select, textarea, input {
      margin-left: 0.5em;
    }
    .submit {
      margin-left: 4em;
    }
    
    br {
      display: none
    }
  }
}
#banner {
  height: 150px;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #300;
  text-align: center;

  img {
    float: left;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#columns {
  background: #300;
  width: 500px;
  align: center;

  #main {
    margin-left: 17em;
    padding: 1em;
    background: #930;
  }

//#START:side
  #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: #300;

/* START_HIGHLIGHT */
    form, div {
      display: inline;
    }  
 
    input {
      font-size: small;
    }

    #cart {
      font-size: smaller;
      color:     white;

      table {
        border-top:    1px dotted #595;
        border-bottom: 1px dotted #595;
        margin-bottom: 10px;
      }
    }

/* END_HIGHLIGHT */
    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: white;
          font-size: small;
        }
      }
    }
  }
//#END:side
}

