/*
 * This is a manifest file that'll automatically include all the
 * stylesheets available in this directory and any sub-directories.
 * You're free to add application-wide styles to this file and they'll
 * appear at the top of the compiled file, but it's generally better
 * to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
#footer {
  background: url(footer2.png) left top no-repeat;
  height: 185px;
  padding: 0px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #300;
  text-align: right;
  width: 950px;
  margin-right: auto;
  margin-left: auto;
}
body {
  background: #090000 url(bg.jpg) top center no-repeat;
  color: #930;
  font-size: 12px;
  font-family: Arial, Tahoma, Verdana;
  margin: 0 auto 0;
  padding: 0;
  line-height: 20px;
  }

.locale {
  float: right;
  margin: -0.25em 0.1em;
}
.depot_form {
  padding-top: 2em;
  fieldset {
    background: #300;
    
    legend {
      color: #dfd;
      background: #300;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }
  
  form {
    label {
      color: white;
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }
    select, textarea, input {
      margin-left: 0.5em;
    }
    .submit {
      margin-left: 4em;
    }
    
    br {
      display: none
    }
  }
}
#banner {
  background: url(logo2.png) left top no-repeat;
  height: 185px;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #300;
  text-align: right;
  width: 930px;
  margin-right: auto;
  margin-left: auto;

  img {
    float: left;
  }
}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#columns {
  background: #300;
  width: 970px;
  margin-left: auto;
  margin-right: auto;

  #main {
    margin-left: 1em;
    padding: 4em;
    background: #930;
  }

//#START:side
  #side {
    float: center;
    padding: 1em 1em;
    width: 90%;

/* START_HIGHLIGHT */
    form, div {
      display: inline;
    }  
 
    input {
      font-size: small;
    }

    #cart {
      font-size: smaller;
      color:     white;

      table {
        border-top:    1px dotted #595;
        border-bottom: 1px dotted #595;
        margin-bottom: 10px;
      }
    }

/* END_HIGHLIGHT */
    ul {
      width: auto;
      float: left;
      padding: 0;
      margin: 0;
      list-style: none;
      background-color: #300;
      border-bottom: 1px solid #ccc;
      border-top: 1px solid #ccc;
      border-left: 1px solid #ccc;
      border-right: 0px solid #ccc;
      
      li {
        float: left;

        a {
          display: block;
          padding: 8px 15px;
          text-decoration: none;
          font-weight: bold;
          color: white;
          border-right: 1px solid #ccc;
        }
        a:hover {
          color: #300;
          background-color: #930;
        }
      }
    }
  }
//#END:side
}


