// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main-home {
  margin: -27px;
  border-style: solid;
  border-color: white;
  border-width: 0px;
  height: 1000px;
  
  .top {
    width: 100%;
    color: white;
    margin-left: -30px;
    
    .buttons {
      width: 43%;
      float: left;
      border-color: white;
      border-width: 0;
      border-style: solid;
      padding: 0;
      margin: 0;
    }
    .rotate-img {
      width: 57%;
      float: right;
      border-color: white;
      border-width: 0;
      border-style: solid;
    }
  }
  
  .bottom {
    width: 100%;
    color: white;
    margin-left: -30px;
    
    .left-side {
      width: 60%;
      float: left;
      
      .tftt {
        img { 
          width: 90px;
          height: 90px;
          float: left;
          padding-top: 20px;
          padding-right: 10px;
        }
        p {
          float: right;
        }
      }
      
      h1 {
        color: red;
        font: bold small-caps 18px/18px "Times New Roman", serif;
      }
      p {
        border-top: white dotted 1px;
        font-family: Arial,Tahoma,Verdana;
        color: white;
        padding-top: 2px;
        margin-top: 1em;
        font-size: 12px;
        line-height: 20px;
      }
    }
    .right-side {
      width: 35%;
      float: right;
      padding-left: 10px;
      padding-right: 20px;
      
      .social {
        img {
          width: 60px;
        }
      }
      
      h1 {
        color: red;
        font: bold small-caps 18px/18px "Times New Roman", serif;
      }

      p {
        border-top: white dotted 1px;
        font-family: Arial,Tahoma,Verdana;
        color: white;
        padding-top: 2px;
        margin-top: 1em;
        font-size: 12px;
        line-height: 20px;
      }

      .host {
        
      }
    }
  }
}
